APP_ENV=prod
APP_SECRET=REMPLACER_PAR_32_CARACTERES_ALEATOIRES
DATABASE_URL="mysql://LOGIN_ALWAYSDATA:MOT_DE_PASSE@mysql-LOGIN_ALWAYSDATA.alwaysdata.net:3306/LOGIN_ALWAYSDATA_astc?serverVersion=8.0&charset=utf8mb4"
MAILER_DSN=null://null
DEFAULT_URI=https://www.astc-revigny.fr
