<section id="gallery" class="section section--dark gallery" data-aos="fade-up">
  <div class="container">
    <span class="section-eyebrow">Photos</span>
    <h2 class="section-title section-title--light">Galerie</h2>
    <div class="divider"></div>
    <div class="swiper gallery-swiper">
      <div class="swiper-wrapper">
        {% for photoName in galleryList %}
          <div class="swiper-slide">
            <img src="{{ asset('images/photos/' ~ photoName) }}"
                 alt="Photo du club ASTC Revigny"
                 loading="lazy">
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
