<section id="hero" class="hero">
  <div class="hero__bg" data-parallax></div>
  <div class="hero__overlay"></div>
  <div class="hero__container">
    <div class="hero__content">
      <div class="hero__eyebrow">
        <div class="hero__eyebrow-line"></div>
        <span class="hero__eyebrow-text">AS Tennis Club Revigny</span>
      </div>
      <h1 class="hero__title">
        Le tennis<br>en <em>Meuse</em>
      </h1>
      <p class="hero__subtitle">
        Depuis plus de 40&nbsp;ans, l'ASTC Revigny réunit passionnés et compétiteurs sur ses courts couverts et extérieurs au cœur de Revigny-sur-Ornain.
      </p>
      <div class="hero__ctas">
        <a class="btn btn--primary" href="#tournaments">Voir les tournois</a>
        <a class="btn btn--outline" href="#club">Découvrir le club</a>
      </div>
    </div>
  </div>
  <div class="hero__scroll" aria-hidden="true">
    <span>Défiler</span>
    <div class="hero__scroll-arrow"></div>
  </div>
</section>
