<nav class="nav">
  <a class="logo" href="#hero">
    <img src="{{ asset('images/Logo.png') }}" alt="ASTC Revigny" height="40">
  </a>
  <ul>
    <li><a href="#club">Le club</a></li>
    <li><a href="#tournaments">Tournois</a></li>
    <li><a href="#gallery">Galerie</a></li>
    <li><a href="#membership">Adhésion</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <a class="btn" href="#membership">Devenir membre</a>
</nav>
